.login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/images/loginbackground.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.login__box {
    border-radius: 4px;
    background: fade-out(white, .2);
    padding: $l_size;
    text-align: center;
    width: 40rem;
}

.login__box__title {
    color: $brand-dark;
    margin: 0 0 $m_size 0;
    line-height: 1;
}

.login__box__subtitle {
    color: $brand-dark;
    font-weight: 350;
    margin: 0 0 $s_size 0;
    line-height: 1;
}