* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: $m_size;
    background-color: $brand-darkblue;
}

button:disabled {
    cursor: default;
}

button {
    outline: none;
    cursor: pointer;
    border-radius: $xs_size;
}

.active {
    background-color: yellow;
}